    <div id="modal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modal-img">
        <div id="modal-date" class="modal-caption"></div>
        <div class="modal-controls">
            <button id="prev-btn" class="modal-btn" onclick="prevPhoto()">&lt; Prev</button>
            <button id="slideshow-btn" class="modal-btn" onclick="toggleSlideshow()">Start Slideshow</button>
            <button id="next-btn" class="modal-btn" onclick="nextPhoto()">Next &gt;</button>
        </div>
    </div>
